*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom properties*/

:root{
    --ff-primary:'Staatliches', cursive;/* 'Nunito', sans-serif;*/
    --ff-secondary: 'Titillium+Web', sans-serif;

    --fw-lg:100;
    --fw-reg: 300;
    --fw-bold:900;

    --clr-light: rgba(255, 255, 255, 0.8); /*2b3760-#fff*/
    --clr-dark: #0f0f0f;/*#002663-#0f0f0f*/
    --clr-dark--op:#0f0f0fd0 ;
    --clr-accent: #4c847e;/*335BB7-1140AC-#007cc0*/
    --clr-gray:#434c4b;/*rgba(236, 236, 236, 0.836);*/
    --clr-white-op:#0f0f0f8e;

    --fs-h1: 3rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.2rem;
    --fs-body: 1rem;
    --fs-nav: 1rem;
    --fs-fot: .8rem;


    --fs-intro:1.75rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
          0.125em 0.125em 0.25em rgba(0,0,0,0.15);

}

@media (min-width: 1000px){
    :root{
        --fs-h1: 3.75rem;
        --fs-h2: 2rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
        --fs-nav: 1.5rem;
    }
}
/*@media (max-width: 600px){
    :root{
        --fs-h1: 1.5rem;
        --fs-h2: 2.25rem;
        --fs-h3: 1.25rem;
        --fs-body: 1rem;
    }
}*/


/*General styles*/

html{
    scroll-behavior: smooth;
}

body{
    background: transparent;
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img{
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

/*section{
    
}*/

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}
/*Buttons*/

.btn{
    display: inline-block;
    padding: 1.5em 2.5em;
    background: var(--clr-accent);
    /*color: var(--clr-dark);*/
    color:var(--clr-light);
    opacity: 95%;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    border-radius: 1em;
    box-shadow: var(--bs);
}
.btn:hover{
    transform: scale(1.1);
}

/* Typography*/

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1{
    font-size: var(--fs-h1);

    /*font-weight: 100;*/
}
h2{
    font-size: var(--fs-h2);

}
h3{
    font-size: var(--fs-h3);

}

/* header*/

header{
    display: grid;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 0.5em;
}

.logo{
    position: fixed;
    z-index: 101;
    max-width: 150px;
    margin: -.5em auto;
    
}
.img_logo{  
    max-width: 100%;
}

.nav__toggle{
    padding: .25em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 0.5em;
    z-index: 1000;
}
/*Experimento togle nav*/
.nav{
    position: fixed;
    display: grid;
    background: var(--clr-accent);
    color: var(--clr-light);
    right: 0;
    top: 0;
    left: 0;
    padding: 1em;
    z-index: 100;
    opacity: 1;
    justify-content: right;
}

.nav__list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    
}
.nav__link{
    color: var(--clr-light);
    font-weight: var(--fw-reg);
    font-size: var(--fs-nav);
    text-decoration: none;
    padding: .5em .5em 0 .5em;    
}
.nav__link:hover{
    color: var(--clr-dark--op);
    opacity: .75;
    border-bottom: 1px solid black;
}
/*Cuando baja nueva propiedad*/

/**/
@media (max-width: 600px){
 .logo{
    position: relative;
    max-width: 150px;
}
header{
    background-color: var(--clr-accent);
}
.nav{
    position: fixed;
    background: var(--clr-accent);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    opacity: .95;
    transform: translateX(100%);
    transition: transform 5ms cubic-bezier(.5,0,.5,1);
    justify-content: space-evenly;
    
}

.nav__list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}
.nav__link:hover{
    color: var(--clr-accent);
}
.nav__toggle{
    padding: .25em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav__open .nav{
    transform: translateX(0);
}

.nav__open .nav__toggle{
    position: fixed;
}

.nav__open .hamburger{
    transform: rotate(.625turn);
}

.nav__open .hamburger::before{
    transform: rotate(90deg) translateX(-6px);
}

.nav__open .hamburger::after{
    opacity: 0;
}


.hamburger{

    display: block;
    position: fixed;
    right: 1em;
    top: 1em;
}
.nav__toggle:focus{
    outline: none;
}
.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-light);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}
.hamburger::before{top: 6px;}
.hamburger::after{bottom: 6px;}

}/*Fin del burguer tingy*/
/*Intro Section*/

.intro{
    position: relative;
    padding-top: 1.5em;
}
/*.text__wrapper{

}*/
/*SSegun yo aqui hay algo mal*/

.section__title--port{
    position: absolute;
    padding-top: 5em;
    padding-left: 5.5em;
    font-weight: var(--fs-h2);
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: .05em;
}  
.section__subtitle--intro{
    position: absolute;
    padding-top: 6em;
    padding-left: 8em;
    font-size: var(--fs-h2);
    font-weight: var(--fw-reg);
    letter-spacing: .05em;
    color: rgba(255, 255, 255, 0.8);  
    /*font-family: var(--ff-secondary);*/
}

.task__port{
    position: absolute;
    padding-top: 5em;
    margin-left: auto;
    margin-right: auto;
    right: 10%;
    color: var(--clr-accent);
    box-shadow: var(--bs);
    max-width: 250px;
    align-content: right;
    text-align: center;
    
}

.video__container{
    position: relative;
    height: 100vh;
}
.video__wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        height: 100vh;
        object-fit: cover;
        background-position: 50% 50%;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
        
    }
}

/*Services*/
/*My Services*/

.my-services{
    background-color:#0f0f0ff5;
    background-image: url(../img/white_black_image_5.png);
    background-position: center;
    background-size: cover;
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    color: var(--clr-light);
    padding-top: 2em;
    padding-bottom: 2em;
}


.services {
    color: var(--clr-light);
}

.service {
   justify-content: center;
}
.service_btn{
   text-align: center;
   padding-bottom: 2em;
}
.service h3,p{
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: center;
}

@media (min-width: 800px){
    .services{    
        position: relative;   
        display: grid;
        grid-template-columns: 1fr 1fr;  
        grid-gap: 0.5em;
        margin-bottom: 2em;  
        margin-top: 2em;
        max-width: 100vw;
    }
  /*  .service + .service{
        margin-left: 2em;
    }*/
    .service img{
        width: 100%;
        height: 60vh;
        object-fit: cover;
        object-position: center;
        border-radius: 3px;

        
    }
    .service h3{
        margin-top: .5em;
        margin-bottom: .5em;
        font-size: 2rem;
        letter-spacing: .1em;
        text-align: center;
    }
    .service p{
        padding: 2.5em;
        font-family: var(--ff-secondary);
        text-align: justify;
    }
    .service_link{
        color: var(--clr-light);
    }
}

/*My work*/

.my-work{
    color: var(--clr-light);
    padding-top: 4em;
    background-image: url(../img/white_black_image_5.png);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

.work_p{
    margin-bottom: 0;
    padding-top: 1em;
    color: var(--clr-dark);
    text-align: center;
}
.pedidos_p{
    padding: 1em;
    color: var(--clr-accent);
    font-family: var(--ff-secondary);
    font-size: var(--fs-h3);
    text-align: center;
}
.social-list_p{
    list-style: none;
    display: grid;
    grid-template-rows: 3fr;
    justify-content: left;
    vertical-align: middle;
    margin: 0;
    
}
.contact_list{
    margin: 0 0;
    padding: 0 0;
}
.fa-instagram{
    color:var(--clr-accent);
}
.fa-facebook{
    color:var(--clr-accent);
}
.fa-whatsapp{
    color:var(--clr-accent);
}

.instagram_space{
    height: 500px;
    padding: 1em;
}
#instafeed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    max-width: 64rem;
    margin: auto;
  }
  
  #instafeed a {
    display: block;
  }
  
  #instafeed img {
    display: block;
    width: 100%;
  }
/* Project items page*/

.portfolio-item-individual{
    padding: 0 0;
    max-width: 100vw;
    margin: 0 0;

}

.portfolio-item-individual p{
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

/*Portfolio*/
.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fiLL,minmax(300px,1fr));
}
.portfolio_blend{
    display: grid;
    grid-template-columns: repeat(auto-fiLL,minmax(300px,1fr));
}
.blend_img{
    box-shadow: var(--bs);
}
.portfolio__item{
    align-content: center;
}
.portfolio__img{
    opacity: 1;
    transition: 
    transform 750ms cubic-bezier(.5,0,.5,1),
    opacity 250ms linear;  
    border-radius: 10px;

}

.portfolio__item:focus{
        position: relative;
        z-index: 2;
}
.portfolio__img:hover,
.portfolio__item:focus .portfolio__img{
    transform: scale(1.2);
    opacity: 1;    
    z-index: -2;
}

/*Parte experimental para el poner nombre en el portfolio*/

.port-wrapper{
    position: relative;
    background: transparent;
    overflow: hidden;
    object-fit: cover;
    max-height: 350px;
    margin: 0 0;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.port-name{
    position: absolute;
    top:10%;
    left: 2em;
    padding: .5em .5em;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    text-align: center;
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
    letter-spacing: .1em;
    transition: 1s;
    color:transparent;
    border-radius: .5em;
}
.port-tag{
    position: absolute;
    bottom: 5%;
    left: 20%;
    padding: .5em .5em;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-reg);
    z-index: 3;
    transition: 1s;
    color: var(--clr-light);
    background-color: rgba(0,0,0,0.25);
    border-radius: .5em;
}
.port-tag:hover{
    background-color: rgba(0,0,0,0.15);
}
.port-price{
    position: absolute;
    top: 10%;
    right: 5%;
    padding: .5em .5em;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-lg);
    font-size: 1rem;
    z-index: 3;
    transition: 1s;
    color: var(--clr-light);
    background-color: rgba(0,0,0,0.25);
    border-radius: .5em;
}



.name_light{
    transition: 1s;
    color: var(--clr-light);
    background: var(--clr-dark--op);
}
.tag_light{
    transition: 1s;
    color: transparent;
}

@media (min-width: 900px ){
    .portfolio{
        display: grid;
        grid-template-columns: repeat(3,1fr);
       
    }
    .portfolio_blend{
        display: grid;
        grid-gap: 1em;
        padding-bottom: 2em;
        grid-template-columns: repeat(3,1fr);    
    }
    .blend_img{
        max-width: 300px;
        place-self: center;
    }

}
/**/

.NDA_mes{
    margin: 2em auto;
    text-align: center;
    color: var(--clr-accent);
}
.abstract{
    padding: 1em 0;
    text-align: center;
    color: var(--clr-accent);
}
.abstract_c{
    padding: 1em 0 0 0;
    text-align: center;
    color: var(--clr-accent);
}
.my-services .abstract{
    margin: 1em auto 0em;
    text-align: center;
    color: var(--clr-light);
}
.my-services h3{
    padding: 1em;
    color: var(--clr-accent);
}

.award{
    position: absolute;
    width: 100%;
    margin: 1em auto;
    padding: 0.25em;
    text-align: center;
    color: var(--clr-light);
    background: var(--clr-dark--op);
    font-size: var(--fs-h2);
    font-weight: var(--fw-reg);
}
.back_img{
    display: none;
}
/*Media*/
@media (max-width: 600px){
    #videoBG {
        display: none;
    }
    #home{
            background: url(../img/fondo_web_final.jpg);
            background-size: cover;
            background-position: 65% 75%;
    }

    header{
        padding: 1.5em auto;
        height: 75px;
        margin-bottom: 0;
    }
    .intro{
        position: relative;
        margin: 0 0;
        padding-top: 0;
    }
 
    .section__title--port{
        padding-top: .75em;
        padding-left: 1em;

    }
    .section__subtitle--intro{
        padding-top: 1.75em;
        padding-left: .7em;
    
    }
    .task__port{
        margin-top: 5em;
        padding-top: 1em;
        margin-left: auto;
        margin-right: auto;
        left: 50%;
        right: 5%;
        background-color:var(--clr-white-op);  
        border-radius: 2px; 
        background-blend-mode: multiply;
    }
    .port__img{
        margin: 0 auto;
        height: 250px;
        object-fit: contain;
        }
        .blend_img{
            margin: 0.5em auto;
            height: 300px;
            object-fit: contain;
        }
}
.section_contact{
    padding-top: 2em;;
    background-image: url(../img/white_black_image_5.png);
    background-position: center;
    background-size: cover;
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
}
.img_contact{
   /* display: block;
     object-fit: cover;*/
    width: 100%;
    height: 60vh;
    background-image: url(../img/contact_1.jpg);
    background-position: 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    
}
.google_form{
    display: flex;
    justify-content: right;
    max-width: 800px;
    margin-left: auto;
    margin-right: 0;
}
.p_abstract{
    font-family: var(--ff-secondary);
}
.three__grid-items{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-template-rows: 1fr;
    max-width: 100vw;
    margin: 0 0;
    align-content: center;
}

.location{
    position: relative;
    display: grid;
    grid-template-columns: 40%  1fr;
    grid-template-rows: auto;
    max-width: 100vw;
    margin: 0 0;
    align-content: center;
}
.mapa_wrap{
    height: 60vh;
}
.p_location{
    font-family: var(--ff-secondary);
    text-align: center;
    margin: auto 0;
}
.location h3{
    color: var(--clr-accent);
    padding: 1em;
}
.col1_location{
    text-align: center;
    margin: auto 0;
}
/*Contact_for mobile*/
@media (max-width: 600px){
    .three__grid-items{
        max-width: 600px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .location{
        max-width: 600px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .my-services .abstract{
        margin: 0 0;
    }
    .service_link{
        color: var(--clr-light);
    }
    .service p{
        font-family: var(--ff-secondary);
    }
}
.section_about{
    max-width: 100vw;
    max-height: 1080px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
.about_img{
    background-image: url(../img/about_2.jpg);
    background-position: 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    height: 800px;
    width: 100%;
    opacity: .95;
    
}
.about_text{
    background-image: url(../img/Back_3.jpg);
    background-position:90% 80%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .9;
}
.about_text_p{
    position: relative;
    font-family: var(--ff-secondary);
    margin-top: 25%;
}
@media (max-width: 600px){
    .section_about{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .about_img{
        height: 400px;
    }

.about_text_p{

}
}

/*Footer¨*/

.footer {
    display: grid;
    background-color:#0f0f0ff5;
    background-image: url(../img/white_black_image_5.png);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    color: var(--clr-light);
    text-align: center;
    padding: 2.5em 2.5em;
    font-family: var(--ff-secondary);
    font-size: var(--fs-h3);
    grid-row-gap: 2.5em;
    grid-template-areas:
    "email logo social"
    ". copyr .";
    justify-content: space-evenly;
}

@media (max-width: 600px){

    .footer {
        display: grid;
        background: rgb(34, 33, 33);
        color: var(--clr-light);
        text-align: center;
        padding: 2.5em 2.5em;
        font-size: var(--fs-h3);
        grid-row-gap: 2.5em;
        grid-template-areas:
        "logo"
        "email"
        "social"
        "copyr";
        justify-content: space-evenly;
    }

}

.footer__email{
    grid-area: email;
    margin: 0 auto;
    padding-top: 1em;
    color: var(--clr-accent);
}
.footer__social{
    grid-area: social;
    margin: 0 auto;
    padding-top: 1em;
}
.footer__logo{
    grid-area: logo;
    margin: 0 auto;
    

}
.footer__copy{
    grid-area: copyr;
    font-weight: var(--fw-lg);
    font-size: var(--fs-fot);
    margin: 0 auto;
}
.footer a {
    color: inherit;
    text-decoration: none;
    
}


.footer__link{

    font-weight: var(--fw-bold);
    
}


.footer__link:hover,
.social-list__link:hover{
    opacity: .7;

}

.footer__link:hover{
    text-decoration: underline;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 0 0;
    padding: 0;
}

.social-list__item{
    margin: 0 0;
    height: 20vh;
    vertical-align: middle;

  
}
.social-list__link{
    padding: .5em;
}




